@charset "utf-8";
/*CSS Document*/

#cabeceraweb{
    background-color:#00F;
}

#navegacionprincipal{
    background-color:#F00;
}

#barralateral{
    background-color:#0F0;
    float:left;
    height:1080px;
}

#contenidoprincipal{
    background-color:#606;
    margin-left:240px;
    padding-left:15px;
    padding-top: 15px;
}

#pieprincipal{
    background-color:#FF0;
    clear:both;
    margin-top:50px;
}

li{
    background-color:#FF0;
    display:inline;
}

#foto{
    width: 50%;
}
